<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ученики</title>
</head>
<body>
    
<h2>
    {{descriptionValue}}
</h2>

{{#each gamesArray}}
    <div style="background: orange; margin-bottom: 15px; padding: 8px;">
        Название игры: {{this.name}} 
        <br>
        Описание игры: {{this.description}} 
        <br>
        Возрастное ограничение: {{this.minAge}}
    </div>
{{/each}}

</body>
</html>

